# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
*.env

# Model checkpoints / weights
*.h5
*.hdf5
*.pkl
*.pt
*.pth
*.joblib

chest_xray dataset/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode config
.vscode/

# OS-specific files
.DS_Store
Thumbs.db


# Logs
*.log

# Build folders (in case of frontend frameworks)
dist/
build/
